

       form{
         border: solid white 7px ;
         border-radius: 30px;
         margin-top: 100px;
         margin-left: 400px;
         margin-right: 400px;
         padding: 50px;
         background-color:transparent;
        text-align: center;
       } 
       input{
        width: 50%;
        padding: 10px;
       }
       button{
        width: 50%;
        padding: 10px;
        background-color: green;
        color: white;
       }

       body{
         background-image: url("hack2.webp");
         height: auto;
         width: auto;
       }

     #label{
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     }